# Server Environment Variables
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/kosha_ecommerce

# Security / Authentication (To be utilized in Phase 3)
JWT_SECRET=kosha_super_secret_jwt_key_2026_dev_only
JWT_EXPIRES_IN=7d

# Allowed Client Origins for CORS
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
